body {
    background-color: #a2cccf;
}
hr {
    border-style: dotted none none;
    height: 0px;
    border-color:gray;
    border-width: 9px;
    width: 10%;
}
h1 {
    color: #01a9b4;
}
h3 {
    color: #01a9b4;
}

.circular {
    border-radius: 100%;
}

h1:hover {
    color: #00eeff;
}

h3:hover {
    color: #00eeff;
}